@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');


body{
    background-color: #272727;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    background: black;
    height: 100px;
    width: 100%;
}

nav img{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 5%; 
}

nav ul{
    float: right;
    margin-right: 25px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 11px;
    margin-top: -5px;
}

nav ul li a{
    position: relative;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 40px;
}

nav ul li a:hover{
    color: #DE9E48;
}

nav ul li a:before{
    position: absolute;
    content: '';
    right: 0;
    left: 0;
    height: 3px;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
}

label #btn,label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    cursor: pointer;
    margin-right: 40px;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 1350px){
    label #btn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
}

@media (max-width: 800px){
    label #btn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    } 
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
    .container_product{
        padding: 40px 80px;
        padding-top: 60px;
        background-color: #9C8C76;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 40px;
    }
}

.title1{
    padding-top: 50px;
    padding-right: 800px;
    text-align: center;
    color: #FFFFFF;
}

.title1 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 150px;
    padding-bottom: 5px;
}

.title1 img{
    object-fit: cover;
    object-position: 70%;
    height: 600px;
    width: 600px;
    padding-left: 1100px;
    margin-top: -350px;
    filter: grayscale(100%);
}

.title1 p{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-top: -200px;
}

.title2{
    padding-top: 0px;
    text-align: center;
    color: #FFFFFF;
}

.title2 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    padding-top: 300px;
    padding-left: 800px;
    padding-bottom: 5px;
}

.title2 p{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 3px;
    margin-top: 75px;
    padding-left: 800px;
}

.img2{
    padding-top: 0px;
    text-align: center;
    color: #FFFFFF;
}

.img2 img{
    object-fit: cover;
    object-position: 70%;
    height: 500px;
    width: 800px;
    padding-right: 800px;
    margin-top: -400px;
    filter: grayscale(100%);
}

.title3{
    padding-top: 0px;
    text-align: center;
    color: #FFFFFF;
}

.title3 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    padding-top: 300px;
    padding-right: 800px;
    padding-bottom: 5px;
}

.title3 p{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 3px;
    margin-top: 75px;
    padding-right: 800px;
}

.img3{
    padding-top: 0px;
    padding-bottom: 50px;
    text-align: center;
    color: #FFFFFF;
}

.img3 img{
    object-fit: cover;
    object-position: 70%;
    height: 800px;
    width: 500px;
    padding-left: 800px;
    margin-top: -600px;
    filter: grayscale(100%);
}

footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

footer{
    background: #000000;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
}

.col{
    width: 25%;
    padding: 0 15px;
    margin-left: 70px;
    margin-right: 200px;
}

.col h2{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-left: 100px;
}

.col h2::before{
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 250px;
    content: '';
    background-color: #DE9E48;
    box-sizing: border-box;
}

.col p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 5px;
    margin-left: 100px;
}

.socialmedia{
    display: flex;
    margin-top: 100px;
    margin-left: 300px;
}

.socialmedia a{
    padding-right: 130px;
    font-size: 50px;
    color: #FFFFFF;
}

.socialmedia a:hover i{
    color:#DE9E48;
}

.copy-div{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

.copyright{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #FFFFFF;
}

.copyright h2{
    text-align: center;
}

.logofoot{
    padding: 0 49%;
    padding-top: 10px;
}

@media(max-width: 767px){
    .col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .col{
        width: 100%;
        margin-bottom: 30px;
    }
}
